*{

    box-sizing: border-box;
}

body{
    margin: opx;

}




header h1{ 
    text-align: center;
    font-size: 50px; 
    color:rgb(240, 227, 227);
    background-color: rgb(19, 110, 110);
    background-attachment: fixed;

}
h1{
    text-align: center;
    color:rgb(240, 227, 227);
    background-color: rgb(67, 70, 70);

}
nav {
    text-align: center;
    background-color: rgb(100, 98, 96);
    
}
main{
    text-align: center;
}
footer{
    text-align: center;
}
a{
    color: rgb(84, 134, 196);
    margin: 15px;
    

}
h2{
    color: rgb(231, 188, 188);
    background-color:teal;
}
h3{
    color:teal;
}

